.app {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  display: grid;
  grid-template-columns: 20% auto 10%;

&-messages-wrapper {
  margin: 0 30px;
}

  &-form {
    padding: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 80% 15%;
    grid-gap: 5%

  }

  &-message {
    padding: 10px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    width: calc(100% - 200px);
  }

}